<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles/dashboard.css">
</head>
<body>
  <header>
    <h1>Dashboard</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/asociados">Ver Asociados</a></li>
      <li><a href="/lotes">Actualmente en desarrollo. Próximamente estará disponible este módulo</a></li>
      <li><a href="/asambleas">Actualmente en desarrollo. Próximamente estará disponible este módulo</a></li>
      <li><a href="/cuotas">Actualmente en desarrollo. Próximamente estará disponible este módulo</a></li>
    </ul>
  </nav>
  <footer>
    <p>&copy; 2023 Mi Aplicación</p>
  </footer>
</body>
</html>
